:root {
  --darkblue: #362b7d;
  --grey: #819dc9;
  --sky: #16c5ff;
  --blue: #203472;
  --purple: #9451f7;
  --white: white;
}

.body {
  background-color: #203472;
}

/* 
body,
html {
    height: 100%;
} */

hr {
  margin: 0px;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.logo {
  height: 40px;
}

.domain_name {
  background-image: linear-gradient(to right, #9451f7, #4a00e0, #9451f7);
  /* height: 100%; */
}

.cards {
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: #362b7d60;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 5px 5px 15px black !important;
  overflow: hidden;
  height: auto;
}

h1,
h3,
.ha {
  background: white;
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;

  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
}

.pa {
  background: white;
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
}

/* 
section2 */

.static1 {
  background-color: #203472;
  /* background: url('/image/') no-repeat center; */
  background-size: cover;
  background-attachment: fixed;
  /* height: 100%; */
  color: #eee;
}

.hello {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 200px;
  width: 200px;
}

/* 
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */

.team {
  padding-bottom: 70px;
  font-family: "Poppins", sans-serif;
}

.team .section-title {
  text-align: left;
  margin-bottom: 50px;
}

.team__item {
  box-shadow: 3px 3px 15px black !important;
  height: fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-radius: 22px;
}

.team__item:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(34, 48, 96, 0.8);
  content: "";
  z-index: -1;
  opacity: 0;
  -webkit-transition: all, 0.5s, ease-out, 0.5s;
  -o-transition: all, 0.5s, ease-out, 0.5s;
  transition: all, 0.5s, ease-out, 0.5s;
}

.team__item:hover:after {
  opacity: 1;
}

.team__item:hover .team__text {
  top: 0;
}

.team__item:hover .team__text .team__title {
  border-bottom: 1px solid rgba(183, 183, 183, 0.2);
  padding: 0 0 26px;
  margin-bottom: 26px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  bottom: initial;
  opacity: 1;
  visibility: visible;
}

.team__item:hover .team__text p {
  top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

.team__item:hover .team__text .team__social {
  opacity: 1;
  visibility: visible;
  bottom: 34px;
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.team__text {
  height: 100%;
  top: 361px;
  position: relative;
  padding: 35px 30px 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.team__text .team__title {
  border-bottom: 1px solid rgba(183, 183, 183, 0.2);
  padding: 0 0 26px;
  margin-bottom: 26px;
  position: relative;
}

.team__text .team__title h4 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 6px;
}

.team__text .team__title span {
  font-size: 15px;
  color: #88c417;
}

.team__text p {
  color: #e4e4e4;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.team__text .team__social {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.team__text .team__social a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin-right: 34px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.team__text .team__social a:last-child {
  margin-right: 0;
}

.team__text .team__social a:hover {
  color: #88c417;
}

@media (max-width: 768px) {
  .team__item {
    height: 350px;
  }

  .team__text {
    padding: 25px 20px 20px;
  }
}

.newbg {
  background-color: #203472;
}
